<!DOCTYPE html>
{% autoescape true %}
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../favicon.ico">

    <title>Our Movie Collection</title>
    <script src="libs/angular.min.js"></script>
    <script src="libs/angular-route.min.js"></script>
    <script src="libs/pouchdb.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/controllers.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Hop Cinema</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% if user %}
          <form class="navbar-form navbar-right">
            <a href="{{log_url|safe}}" class="btn btn-danger">{{log_url_linktext}}</a>
          </form>
          {% else %}
          <form class="navbar-form navbar-right">
            <a href="{{log_url|safe}}" class="btn btn-success">{{log_url_linktext}}</a>
          </form>
          {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>{{greetings}} {{username}}!</h1>
        <p>Use our awesome tool to recommend your favorite movies!</p>
        <p><a class="btn btn-primary btn-lg" href="/add_suggestion" role="button">Suggest a movie &raquo;</a></p>
      </div>
    </div>

    <div class="container" ng-controller="SearchController">
      <div class="search">
        <label>Search: </label>
        <input ng-model="query" id="queryInput"
          placeholder="Search for movies" autofocus="true" />
        <button type="button" ng-click="search(query)">Save search</button>

      </div>
      <div class="row">
        <div class="col-md-4" ng-repeat="item in results | filter:query track by $index">
          <h2>{a item.title a}</h2>
          <h2>{a item.date a}</h2>
          <p>{a item.plot a}</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2017 Real Company, Inc.</p>
      </footer>
    </div> <!-- /container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
{% endautoescape %}
